main{
    background-color: #2c3164;
    padding: 0;
  }
  
  .slideRight6 {
    width: 74%;
    height: 32.5em;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: O;
       
  }
  
  .evolution1 {
    width: 1300px;
    height: auto;
    margin-left: 2.5%;
    margin-top: 250px;
    /* margin-bottom: 133px; */
    background-color: rgb(153, 149, 151);
    opacity: 0.6;
  }
  
  .organisation1 {
    width: 20%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #2c3164;
  }
  
  table {
    border-width: 4px;
    border-style: solid;
    border-color: black;  
    
  }
  
  .mode1{
    height: 70px;
    font-size: 50pt;
    text-align: center;
    line-height: 10px;
  }
  
  .mode2{
    height: 70px;
    text-align: center;
    font-size: 19pt;
    vertical-align: middle;
  }
  
  
  label {
    width: 150px;
    padding-right: 0;
    font-size: 1rem;  
  }
  
  
  